* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: #e5e5e5;
}

#hero,
#enemy {
  display: none;
}

#game-wrapper {
  position: relative;
}

#bg {
  position: absolute;
  z-index: 1;
  transform: translate(0, -15%) scale(0.8);
}

#canvas {
  position: absolute;
  z-index: 2;
  transform: translate(112%, 28%) scale(0.85);
  border-radius: 15px;
}

#records {
  max-width: 300px;
  z-index: 2;
  position: absolute;
  transform: translate(10%, 150%);
}

#records h2 {
  max-width: 300px;
  z-index: 2;
  font: 2em sans-serif;
  color: black;
}

th {
  padding: 10px;
  font: 1.3em sans-serif;
}

td {
  font: 1em sans-serif;
  padding: 0 10px;
}

#leaderboard {
  z-index: 2;
  width: 100%;
}

#score {
  position: absolute;
  z-index: 3;
  font: 1.3em sans-serif;

  right: 2vw;
  top: 50vh;
}
